*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Wix Madefor Display', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(34, 34, 34);
    color:white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
#apresentação{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 10px;
}
main{
    font-size: 18px;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    line-height: 10px;
    padding-left: 50px;
    gap: 20px;
}

#title h1{
    font-weight: 200;
}

#title h1:hover{
    color:rgb(78, 78, 239);
    transition: (0.9s all);
}

il{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    font-size: 16px;
}

a:hover{
    color:rgb(78, 78, 239);
    transition: (0.9s all);
}

#projetos{
    border: 2px solid rgb(78, 78, 239) ;
    padding: 10px;
    border-radius: 15px;
}

#projetos:hover{
    background-color:rgb(78, 78, 239);
    color: white;
    transition: (0.9s all);
}

.loader {
    width: 50px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
              linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
              linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
  }
  
  @keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
  }  
img{
    border-radius: 18px;
}
#portas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#portas figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}
#portas img{
    width: 600px;
}
#tinker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
#pedestre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#semantico1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
#sematic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
header li{
    transition:0,6ms;
}

#imgsSeman{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#tinker p{
    font-size: 20px;
}
#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#tinkercad{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}
#exemplo{
    width: 800px;
}
#meioTinker{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#robotica{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
}
#linha{
    width: 500px;
    height: 400px;
}
#robotica p{
    font-size: 18px;
}
#tipos{
    width: 700px;
    height: 300px;
}
