* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Wix Madefor Display', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header li{
    transition:0,6ms;
}
body {
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
#semantico1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
#sematic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
#git{
    filter: invert(1);
}

#imgsSeman{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#exAssocitiva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    line-height: 10px;
    padding-left: 50px;
    gap: 20px;
}

#title h1 {
    font-weight: 200;
}

#title h1:hover {
    color: rgb(78, 78, 239);
    transition: (0.9s all);
}

il {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    font-size: 16px;
}

a:hover {
    color: rgb(78, 78, 239);
    transition: (0.9s all);
}

#projetos {
    border: 2px solid rgb(78, 78, 239);
    padding: 10px;
    border-radius: 15px;
}

#projetos:hover {
    background-color: rgb(78, 78, 239);
    color: white;
    transition: (0.9s all);
}

.loader {
    width: 50px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6), #fff 0 calc(3*100%/6), #0000 0),
        linear-gradient(#0000 calc(2*100%/6), #fff 0 calc(4*100%/6), #0000 0),
        linear-gradient(#0000 calc(3*100%/6), #fff 0 calc(5*100%/6), #0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

#apresentação {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 10px;
}

main {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;

    width: 1200px;
}

#tipos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#SQL {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 20px;
}

#escritaSQL {
    width: 50%;
}

#sqltipos {
    width: 50%;
}

#sqltipos img {
    width: 580px;
    height: 300px;
    border-radius: 20px;
}

#NoSQL {
    display: flex;
    flex-direction: row;
}

#imgNOSQL {
    width: 50%;
}

#imgNOSQL img {
    width: 400px;
    height: 300px;
    border-radius: 30px;
    padding-left: 100px;
}

#EscritaNOSQL {
    width: 50%;
}

#main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

#modeloConceito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tiposBancos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#modeloLogico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgLogico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

#imgLogico img {
    width: 500px;
    height: 300px;
    margin: 0;
}

#fisico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#relacionamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#atributo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: justify;
}

#der {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

#Ds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: justify;
}

img {
    border-radius: 20px;
}

#imagens {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#_forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#imgfoma1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#__forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#___forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgforma3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#imgforma2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#aplicacaoPratica {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
}

#videoAplica {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#Ds{
    max-width: 1200px;
}